body {
  width: 100%;
  max-width: 100%;
}

body,
html {
  background-color: #FFF;
}

main {

  @include container-width(90%);
  @include container-align('center');

  @include breakpoint(from-desktop) {
    @include container-width(70%);
  }

  @include breakpoint(from-desktop-mid) {
    @include container-width(50%);
  }
}
