main {

  .col {
    @include columns(1, $container-width: 90%);
    @include breakpoint(from-tablet) {
      @include columns(1, $container-width: 90%);
    }
    @include breakpoint(from-desktop) {
      @include columns(1);
    }
  }

}

//article > header {
//
//  padding-bottom: 2em;
//
//}

img.avatar {
  border-radius: 50%;
  width: 40%;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
