.menu {
  @include columns(1, $container-width: 100%);

  @include breakpoint(from-tablet) {
    @include columns(3, $container-width: 100%);
    a {
      border-left: 1px solid transparentize($white, 0.6);
      &:first-child {
        border-left: none;
      }
    }
  }

  a {
    color: $white;
    text-align: center;
    background: $color-font-base;
    padding: 0.5em;
    &:HOVER {
      background-color: $brand-primary;
      text-decoration: none;
    }
  }
}