.postlist {

  .postlist__entry {
    border-bottom: 1px solid $color-dividers;

    &:last-child {
      border-bottom: none;
    }

    h1 > a {
      color: $color-font-base;
      text-decoration: none;
    }

    footer {
      margin-bottom: $golden * 2em;
    }

    a.button {
      color: $primary-color;
      border-radius: 0.3em;
      border: 1px solid;
      text-decoration: none;
      padding: 0.15em 0.6em;
      font-family: 'Lato', sans-serif;
      text-align: center;
      @include breakpoint(from-tablet) {
        width: auto;
        text-align: left;
      }
      &:HOVER {
        background-color: $primary-color;
        color: white;
      }

    }
  }

}