.postlist {

  .postlist__entry {
    border-bottom: 1px solid $color-dividers;

    &:last-child {
      border-bottom: none;
    }

    h1 > a {
      color: $color-font-base;
      text-decoration: none;
    }

    footer {
      margin-bottom: $golden * 2em;

      @include breakpoint('from-desktop') {
        a.button {
          font-size: 80%;
        }
      }
    }

  }

}
