ul.tag-bar {
  //margin-top: 40px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li.tag {
    display: inline-block;
    //margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    color: #333;
    //@include transition(border-color, 200ms ease-in-out, color, 200ms ease-in-out);
    //margin: 5px 0;

    &:hover {
      border: 2px solid #777;
      color: #333;
    }

  }

}


