@import url(https://fonts.googleapis.com/css?family=Rokkitt:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$fa-font-path: "../fonts/font-awesome";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/typographic/scss/typographic";

$line-height-ratio: $major-seventh;
$header-ratio: $perfect-fifth;
$body-font: "Crimson Text";
$body-font-weight: 400;
$body-color: #000000;
$header-font: "Rokkitt", "serif";
//$header-font: 'Goudy Bookletter 1911', 'serif';
//$header-font: 'Fjord One', 'serif';
//$header-font: 'Lora', 'serif';
// $header-font: 'Crimson Text', 'serif';
$header-font-weight: 400;
$header-color: $color-font-base;
$min-font: 15px;
$max-font: 24px;
$min-width: 600px;
$max-width: 1000px;
$vertical-rhythm: true;

@include typographic();
