@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import "bower_components/typographic/scss/typographic";

$line-height-ratio: 1.75;
$header-ratio: $golden;
$body-font: 'Enriqueta';
$body-font-weight: 400;
$body-color: #666;
$header-font: 'Londrina Solid', 'serif';
// $header-font: 'Amatic SC', 'serif';
$header-font-weight: 400;
$header-color: #333;
$min-font: 14px;
$max-font: 22px;
$min-width: 600px;
$max-width: 1000px;
$vertical-rhythm: true;

@include typographic();
//@include grid-overlay(blue, 2);
