@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Fjord+One);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Stalemate);
@import "bower_components/typographic/scss/typographic";

$line-height-ratio: $golden;
$header-ratio: $aug-fourth;
$body-font: 'Crimson Text';
$body-font-weight: 400;
$body-color: $color-text;
$header-font: 'Fjord One', 'serif';
// $header-font: 'Amatic SC', 'serif';
$header-font-weight: 400;
$header-color: $color-font-base;
$min-font: 16px;
$max-font: 22px;
$min-width: 600px;
$max-width: 1000px;
$vertical-rhythm: true;

@include typographic();
//@include grid-overlay(blue, 2);

time {
  color: $color-text-hint;
}

header {
  h1, h2, h3, h4, h5, h6 {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: calc(96 / 16 * 1rem);
      height: 2px;
      background-color: $color-dividers;
    }
  }
}
