<footer>
    <div class="social-container">
        <a href="https://github.com/MartinSeeler/">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="http://stackoverflow.com/users/1475346/chasmo">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-stack-overflow fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="http://www.linkedin.com/in/martinseeler">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="https://www.xing.com/profile/Martin_Seeler">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-xing fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="https://plus.google.com/+MartinSeeler">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="https://twitter.com/Chasmo90">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/martin.seeler">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse fa-lg"></i>
            </span>
        </a>
  </div>
</footer>

<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/js/headroom.min.js"></script>
<script type="text/javascript">
    var headroomHeader = new Headroom(document.querySelector("header"), {
        "tolerance": 30,
        "offset": 80,
        "classes": {
            "initial": "animated",
            "pinned": "bounceInDown",
            "unpinned": "bounceOutUp"
        }
    });
    headroomHeader.init();
</script>
</body>
</html>