<script type="text/javascript">
    var _gas = _gas || [];
    _gas.push(['_setAccount', 'UA-31370927-7']);
    _gas.push(['_setDomainName', 'www.martinseeler.com']);
    _gas.push(['_gasTrackOutboundLinks']);
    _gas.push(['_gasTrackMaxScroll']);
    _gas.push(['_gasTrackMailto']);
    _gas.push(['_gasHTMLMarkup']);
    _gas.push(['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js']);
    _gas.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.id = 'gas-script';
        ga.setAttribute('data-use-dcjs', 'false'); // CHANGE TO TRUE FOR DC.JS SUPPORT
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '//cdnjs.cloudflare.com/ajax/libs/gas/1.11.0/gas.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
