<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Chasmo90">
<meta name="twitter:creator" content="@Chasmo90">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}">
<meta name="twitter:image" content="https://s.gravatar.com/avatar/58e39d254d36d251391071682fe4dd8b?s=800">
