body > header {

    .header-master {
        padding: 15px 0;
    }

    //background-color: #202020;
    border-bottom: 1px solid $quieter-color;

    $img-size: 60px;

    img.blog-logo {
        @include float-left;
        width: $img-size;
        height: $img-size;
        background-position: center center;
        border-radius: 50%;
    }

    .blog-name {
        display: inline-block;
        padding-left: 15px;
        padding-top: 5px;
        line-height: 1.5em;

        font-family: 'Roboto', sans-serif;
        font-weight: 300;

        .blog-title a {
            color: #202020;
            font-size: 18px;
            text-decoration: none;
        }

        .blog-sub {
            font-size: 14px;
            color: #b0b0b0;
        }
    }

}
