body > header {

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  border-bottom: 1px solid $quieter-color;
  background-color: #FFF;

  .header-master {
    padding: $default-space 0;
  }

  $img-size: 50px;

  img.blog-logo {
    @include float-left;
    width: $img-size;
    height: $img-size;
    background-position: center center;
    border-radius: 50%;
  }

  .blog-name {
    @include inline-block;
    white-space: nowrap;
    padding: {
      left: $default-space;
      top: 5px;
    }
    line-height: 1.15em;

    .blog-title a {
      font-size: 18px;
      font-weight: 300;
      color: #000;
      text-decoration: none;
    }

    .blog-sub {
      font-size: 14px;
      color: $quiet-color;
    }
  }

}
