ul.post-list {

	li.post-wrapper {
		list-style-type: none;
		display: inline-block;
		padding-bottom: 30px;
		padding-top: 15px;
		border-bottom: 1px solid lighten($quieter-color, 5%);
		clear: both;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}

		a.article-link {
			text-decoration: none;
			font-family: "Arvo";
			font-size: 42px;
	    	line-height: 84px;
	    	font-weight: 700;
	    	color: #444;

	    	&:HOVER {
	    		color: #3498db;
	    	}
		}

	}

	p {
		padding-top: 15px;
	}

}

.post-footer {
	@include set-container-width;
	padding-top: 15px;
	margin-top: 15px;
}

.post-meta {

	@include span-columns(7,12);

	font-size: 12px;
	color: $quiet-color;

	.date {
//		display: block;
	}

	i {
		padding-right: 5px;
	}

	
}

a.read-more {
	@include span-columns(4 omega, 12);
	background-color: #F0F;

	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}

article header {
	padding-bottom: 15px;
}