/* Code and syntax highlighting. */

pre, code {
  font: {
    family: $fixed-font-family;
    size: 14px;
    weight: 300;
  }
}

pre {
  line-height: 1.4;
  overflow-wrap: break-word;
  word-wrap: normal;
  white-space: pre-wrap;
  padding-bottom: 2 * $default-space;
}

.hljs {
  border: 1px solid #DDD;
  padding: 1em !important;
  @include border-radius(5px);
}

code {
  background-color: $quietest-color;
  color: #333;
  border: 1px solid #DDD;
  padding: 2px 8px;
  @include border-radius(4px);
}