pre {
  font-family: "Source Code Pro";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;

  overflow-wrap: break-word;
  word-wrap: normal;
  white-space: pre-wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hljs {
  @include border-radius(5px);
  border: 1px solid #DDD;
  padding: 1em !important;
}

code {
  font-family: "Source Code Pro";
  background-color: #f8f8f8;
  border: 1px solid #DDD;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  padding: 2px 8px;
  @include border-radius(4px);
}