$debug-mode: false !default;

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600);


// import blueprints
@import "blueprint/reset";
@import "blueprint/debug";
@import "blueprint/typography";
@import "blueprint/utilities";
@import "blueprint/colors";
@import "blueprint/buttons";

// import compass
@import "compass/css3";
@import "compass/utilities";

// import grid
@import "susy";

// import base settings
@import "partials/base";


.container {
  @include container;
  @if $debug-mode {
    @include susy-grid-background;
  }
}

body {
  @include blueprint-utilities;
  @if $debug-mode {
    @include blueprint-debug;
  }

  overflow-y: scroll;
  padding-top: 110px;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: $font-color;

  line-height: 30px; 

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 700;
    font-family: 'Arvo', sans-serif;
}

h1 {
    font-size: 42px;
    line-height: 84px;
}

h2 {
    font-size: 29.124px;
    line-height: 60px;
    padding: {
      top: 15px;
      bottom: 15px;
    }
}

a.top {
  position: fixed;
  left: 25px;
  bottom: 20px;
  text-decoration: none;
  color: #222;
  padding: 5px 15px;
  background-color: #FFF;
}

// import partials
@import "partials/header";
@import "partials/posts";
@import "partials/buttons";
@import "partials/syntax";
@import "partials/footer";

// load icon font
@import "vendor/font-awesome/font-awesome";
