$debug-mode: false !default;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

// import blueprints
@import "blueprint/reset";
@import "blueprint/debug";
@import "blueprint/typography";
@import "blueprint/utilities";
@import "blueprint/colors";
@import "blueprint/buttons";

// import compass
@import "blueprint/buttons";
@import "compass/css3";
@import "compass/utilities";

@import "susy";

// import base settings
@import "partials/base";


.container {
  @include container;
  @if $debug-mode {
    @include susy-grid-background;
  }
}

body {
  //@include blueprint-typography(true);
  //@include blueprint-utilities;
  @if $debug-mode {
    @include blueprint-debug;
  }

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


@import "partials/header";
@import "partials/buttons";
@import "partials/syntax";
@import "partials/footer";
@import "vendor/font-awesome/font-awesome";
