$gray-dark:                 $color-font-base;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$primary-color:             #6a76fc !default;