---
layout: default
---

<article itemid="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
         itemscope
         itemtype="http://schema.org/BlogPosting"
         class="post-content">
    <meta itemprop="inLanguage" content="en-US"/>
    <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <time itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %-d, %Y" }}</time>
    </header>
    <div itemprop="articleBody">
        {{ content }}
    </div>
    <footer>
        <p>Written by <span itemprop="author">Martin Seeler</span></p>
    </footer>
</article>

