---
layout: default
---

<article itemid="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
         itemprop="mainEntity"
         itemscope=""
         itemtype="http://schema.org/BlogPosting"
         class="post-content">
    <meta itemprop="image" content="https://s.gravatar.com/avatar/58e39d254d36d251391071682fe4dd8b?s=800">
    <meta itemprop="inLanguage" content="en-US"/>
    <meta itemprop="headline" content="{{ page.title }}"/>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}"/>
    <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}"/>
    {% if page.feature-img %}
    <header class="{% if page.light-headline %}light{% endif %}" style="background-image: url('{{ page.feature-img }}')">
    {% else %}
    <header>
    {% endif %}
        <h1 class="col">
            <span itemprop="headline">{{ page.title }}</span>
        </h1>
        <div class="col">
            <time itemprop="datePublished dateModified" content="{{ page.date | date: '%Y-%m-%d' }}"
                  datetime="{{ page.date | date: '%Y-%m-%d' }}">
                <small><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page.date | date: "%b %-d, %Y" }}</small>
            </time>
        </div>
    </header>
    <main itemprop="articleBody">
        {{ content }}
    </main>
    <hr class="section-divider">
    <footer class="col">
        {% include article-footer.html %}
    </footer>
    {% if page.comments %}
    <hr class="section-divider">
    <section class="col">
        {% include disqus.html %}
    </section>
    {% endif %}
</article>

