---
layout: default
---

<article>
    <header>
        <h1>{{ page.title }}</h1>
        <small>
            <time itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}"
                  datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %-d, %Y" }}
            </time>
        </small>
    </header>
    <section class="dbl-line">{{ content }}</section>
    <section class="dbl-line">
        <h2>Reads & Blog Posts</h2>

        <p>The following is a list of blog posts and other stuff I found interesting this week.
            You should really check them out!</p>

        {% for read in site.data.curations[page.curation].delicious %}
        <section class="github-project">
            <p><a href="{{ read.url }}"> {{ read.title }} </a></p>

            <p>{{ read.desc }}</p>
            <!--<small>by <a href="{{ project.owner.link }}">{{ project.owner.name }} ({{ project.owner.user }})</a></small>
            <footer>
                <ul class="tag-bar">
                  {% for lang in project.langs | sort: 'count' %}
                  <li class="tag">{{ lang.name }}</li>
                  {% endfor %}
                </ul>
            </footer>-->
        </section>
        {% endfor %}

    </section>
    <section>
        <h2>Github <i class="devicons devicons-github_badge"></i> Projects</h2>

        <p>The following is a list of awesome Github projects I liked this week.
            You should really check them out!</p>

        {% for project in site.data.curations[page.curation].github %}
        <section class="github-project">

            <h3><a href="{{ project.link }}"> {{ project.name }} </a></h3>

            <p>{{ project.desc }}</p>
            <!--<small>by <a href="{{ project.owner.link }}">{{ project.owner.name }} ({{ project.owner.user }})</a></small>
            <footer>
                <ul class="tag-bar">
                  {% for lang in project.langs | sort: 'count' %}
                  <li class="tag">{{ lang.name }}</li>
                  {% endfor %}
                </ul>
            </footer>-->
        </section>
        {% endfor %}

    </section>

</article>
