<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body itemscope itemtype="http://schema.org/WebPage" role=”main”>
<header>
    <nav>
        <a class="logo" href="/">Martin Seeler</a>
        <!--<ul class="nav">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/curations">Curations</a></li>
            <li><a href="/">About me</a></li>
        </ul>-->
    </nav>
</header>
<main>{{ content }}</main>
{% include footer.html %}
<script src="/js/vendor.min.js"></script>
<script src="/js/app.js"></script>
</body>

</html>
