<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Martin Seeler - Software Developer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <meta name="author" content="Martin Seeler">
  <meta name="description" lang="en" content="Martin Seeler is a software developer and webdesigner based in Dresden, Germany">

  <!-- placed in head for exact time measurement in google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31370927-1']);
    _gaq.push(['_setDomainName', 'chasmo.de']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

  </head>
  <body>

    {{ content }}

    <footer>
      <div class="container">
        <ul class="social-media-links">
         <!-- <li><a  href="tel:+4915227525353"><i class="icon-phone"></i></a></li> -->
         <li><a  target="_blank" href="mailto:martin.seeler+hello@chasmo.de"><i class="icon-envelope"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://twitter.com/Chasmo90"><i class="icon-twitter"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://www.facebook.com/martin.seeler"><i class="icon-facebook"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="https://plus.google.com/108888061360178006783/about"><i class="icon-google-plus"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://www.linkedin.com/in/martinseeler"><i class="icon-linkedin"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://www.xing.com/profile/Martin_Seeler"><i class="icon-xing"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="http://stackoverflow.com/users/1475346/chasmo"><i class="icon-stackexchange"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="https://github.com/MartinSeeler"><i class="icon-github"></i></a></li>
       </ul>
       <p>Made with <i class="icon-heart"></i> and my bare hands.</p>
       <p>With the power of <i class="icon-html5"></i> and <i class="icon-css3"></i> under the hood.</p>
     </div>
   </footer>

 </body>
 </html>
